h1{
    text-align:center;
    color:#12563a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#12563a;
    background-color:#bdfbe1;
}